@tailwind base;
@tailwind components;
@tailwind utilities;

/* Update snap scrolling styles */
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* Prevent horizontal overflow */
#__next, main {
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.snap-mandatory::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.snap-mandatory {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.snap-align-none {
  scroll-snap-align: none;
}
